#main-container {
  padding-top: 3%;
}

.form-container {
  background-image: url(../public/waves_green-67a53bd9125a2c87657051177a14de2c.jpg);
}

.input-field-group {
  margin-bottom: 5%;
  margin-top: 5%;
}

.input-field {
  margin-bottom: 5%;
}

.profile-input-field {
  margin-bottom: 2%;
}

::-webkit-input-placeholder {
  text-align: center;
}

:-moz-placeholder {
  text-align: center;
}
